[package]
name = "assistant"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dotenvy = "0.15.7"
env_logger = "0.10.0"
log = "0.4.20"
tokio = { version = "1.34.0", features = ["macros", "rt-multi-thread"] }
serenity = { git = "https://github.com/serenity-rs/serenity", branch = "next", version = "0.11.6" }
poise = { git = "https://github.com/serenity-rs/poise", branch = "serenity-next", version = "0.5.5" }
once_cell = "1.18.0"
serde = { version = "1.0.189", features = ["derive"] }
serde_json = "1.0.107"
regex = "1.10.2"
chrono = "0.4.31"
rusty_v8 = "0.32.1"
reqwest = { version = "0.11.22", features = ["json"] }
